@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Failed!</strong> @TempData["error"]
    </div>
}
<h1>505 - SERVER ERROR</h1>
