@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set new password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <style>
    a:hover {
        opacity: 0.8;
    }
    </style>
</head>

<body>
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6 text-black">

                    <div class="px-5 ms-xl-4 p-3">
                        <img src="imgs/Logo.png" alt="Logo">
                    </div>

                    <div class="h-custom-2 px-5 ms-xl-4 pt-xl-0 mt-xl-n5" style="margin-top: 48px;">

                        <form action="" method="POST">

                            <h2 class="mb-3"
                                style="letter-spacing: 1px; font-size: 40px; font-weight: 700; line-height: 51px;">
                                Set a password
                            </h2>

                            <p
                                style="font-weight: 400; font-size: 16px; line-height: 19.5px; opacity: 0.75; margin-bottom: 48px;">
                                Your previous password has been reseted. Please set a new password for your account.
                            </p>

                             {{#if error}}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                <strong>Failed!</strong> {{error}}
                            </div>
                            {{/if}}
                            {{#if success}}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                <strong>Sucess!</strong> {{{success}}}
                            </div>
                            {{/if}}

                            <div class="form-outline mb-4">
                                <label class="form-label" for="password">Create Password</label>
                                <div class="input-group mb-3">
                                    <input required class="form-control form-control-lg" id="password" name="newPassword"
                                        value="" style="border-right: none">
                                    <span class="input-group-text" style="background-color: #fff;">
                                        <i class="fa fa-eye-slash" id="togglePassword" style="cursor: pointer"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="cpassword">Re-enter Password</label>
                                <div class="input-group mb-3">
                                    <input required class="form-control form-control-lg" id="cpassword" name="cpassword"
                                        value="" style="border-right: none">
                                    <span class="input-group-text" style="background-color: #fff;">
                                        <i class="fa fa-eye-slash" id="togglePassword" style="cursor: pointer"></i>
                                    </span>
                                </div>
                            </div>

                            <div>
                                <input class="btn-login btn btn-lg btn-block w-100" value="Set password" type="submit"
                                    name="change-password" style="background-color: #8DD3BB; margin-top: 32px;" />
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-sm-none d-md-none d-lg-block">
                    <img src="imgs/Group 4.png" alt="Login image" style="height: 684px;">
                </div>
            </div>
        </div>
    </section>
</body>
<script>
const togglePassword = document.querySelector("#togglePassword");
const password = document.querySelector("#password");
const cpassword = document.querySelector("#cpassword");
password.setAttribute("type", "password");
cpassword.setAttribute("type", "password");

togglePassword.addEventListener("click", function() {
    // toggle the type attribute
    const type = password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);
    // toggle the eye icon
    this.classList.toggle('fa-eye');
    this.classList.toggle('fa-eye-slash');
});

togglecPassword.addEventListener("click", function() {
    // toggle the type attribute
    const type = cpassword.getAttribute("type") === "password" ? "text" : "password";
    cpassword.setAttribute("type", type);
    // toggle the eye icon
    this.classList.toggle('fa-eye');
    this.classList.toggle('fa-eye-slash');
});
</script>

</html>