@{
    Layout = null;
}
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Verify your email address</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/iconlogo.png" />
    <link rel="stylesheet" href="~/css/verFail.css" />
    <style type="text/css" rel="stylesheet" media="all">
        /* Base ------------------------------ */

    </style>
</head>

<body>
  <table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center">
        <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
          <!-- Logo -->
          <tr>
            <td class="email-masthead">
                <a class="email-masthead_name">Starline</a>
            </td>
          </tr>
          <!-- Email Body -->
          <tr>
            <td class="email-body" width="100%">
              <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
                <!-- Body content -->
                <tr>
                  <td class="content-cell">
                    <h1>Verify your email address</h1>
                    <p>Unfortunately, we regret to inform you that your sign-up for Starline has not been successful.</p>
                    <!-- Action -->
                    <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
                      <tr>
                        <td align="center">
                          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                            <path class="checkmark__check" fill="none" d="M16 16 36 36 M36 16 16 36" />
                          </svg>

                          <h1 style="text-align: center;">
                              @if (TempData["error"] != null)
                               {  
                                <div class="alert alert-error alert-dismissible">
                                 <strong>Failed!</strong> @TempData["error"]
                                </div>
                              }</h1>
                        </td>
                      </tr>
                    </table>
                    <p>Thanks,<br />The Starline Team</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-cell">
                      <p class="sub center">
                          Starline Labs, Inc.
                      </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
<script>
  function showCheckmark() {
  const checkmark = document.getElementById('cm');
  const checkmark__circle = document.getElementById('cmc');
  const checkmark__check = document.getElementById('cmck');
  checkmark.classList.add('checkmark_animation');
  checkmark__circle.classList.add('checkmark__circle_animation');
  checkmark__check.classList.add('checkmark__check_animation');

  // Sau 2 giây, loại bỏ lớp .show-checkmark để ẩn biểu tượng
  setTimeout(() => {
    checkmark.classList.remove('checkmark_animation');
    checkmark__circle.classList.remove('checkmark__circle_animation');
    checkmark__check.classList.remove('checkmark__check_animation');
  }, 1500); // 2 giây
}

// Gọi hàm showCheckmark mỗi 3 giây
setInterval(showCheckmark, 2000); // 3 giây
</script>
</html>
