@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<nav class="nav-bar sticky-top navbar-expand-lg navbar-light bg-light p-3 d-lg-block d-sm-none nav1">
        <div class="container-fluid d-flex justify-content-between justify-content-center align-items-center">
            <div class="left-section ms-4 me-5 d-flex d-flex align-items-center">
                <a href="/Admin/Airline" class="me-4"><img src="~/img/logo-navbar.png" alt="Logo"></a>
                <a href="/Admin/Flight" class="ms-2 fw-bold text-uppercase text-dark text-decoration-none">Chuyến bay</a>
                <a href="/Admin/Airline" class="ms-2 fw-bold text-uppercase text-dark text-decoration-none">Hãng bay</a>
                <a href="/Admin/Airport" class="ms-2 fw-bold text-uppercase text-dark text-decoration-none">Sân bay</a>
                <a href="/Admin/Customer" class="ms-2 fw-bold text-uppercase text-dark text-decoration-none">Khách Hàng</a>
                <a href="/Admin/Historyticket" class="ms-2 fw-bold text-uppercase text-dark text-decoration-none">Lịch sử
                    mua vé</a>
                <a href="/Admin/Statistic" class="ms-2 fw-bold text-uppercase text-dark text-decoration-none">Thống kê</a>
            </div>
            <div class="right-section text-end">
                <div class="container-fluid d-flex justify-content-between justify-content-center align-items-center">
                    <div class="username fw-bold">Admin</div>
                    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false"></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Admin/Flight" class="dropdown-item text-dark text-decoration-none">Chuyến bay</a>
                        </li>
                        <li><a href="/Admin/Airline" class="dropdown-item text-dark text-decoration-none">Hãng bay</a>
                        </li>
                        <li><a href="/Admin/Airport" class="dropdown-item text-dark text-decoration-none">Sân bay</a>
                        </li>
                        <li><a href="/Admin/Customer" class="dropdown-item text-dark text-decoration-none">Khách Hàng</a>
                        </li>
                        <li><a href="/Admin/Historyticket" class="dropdown-item text-dark text-decoration-none">Lịch sử mua
                                vé</a></li>
                        <li><a href="/Admin/Statistic" class="dropdown-item text-dark text-decoration-none">Thống kê</a>
                        </li>
                        <li><a href="/logout" class="dropdown-item">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light p-3 d-sm-block d-lg-none nav2">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="~/img/logo-navbar.png" alt="Logo"></a>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav align-items-end">
                    <li><a href="flight.php" class="dropdown-item text-dark text-decoration-none">Chuyến bay</a>
                    </li>
                    <li><a href="airline.php" class="dropdown-item text-dark text-decoration-none">Hãng bay</a>
                    </li>
                    <li><a href="airport.php" class="dropdown-item text-dark text-decoration-none">Sân bay</a>
                    </li>
                    <li><a href="customer.php" class="dropdown-item text-dark text-decoration-none">Khách Hàng</a>
                    </li>
                    <li><a href="historyticket.php" class="dropdown-item text-dark text-decoration-none">Lịch sử mua
                            vé</a></li>
                    <li><a href="statistic.php" class="dropdown-item text-dark text-decoration-none">Thống kê</a>
                    </li>
                    <li><a href="/logout" class="dropdown-item">Đăng xuất</a></li>
                </div>
            </div>
        </div>
    </nav>