<div class="mt-5 wrapper">
        <div class="footer">
            <div class="container d-flex justify-content-between pt-5 pb-5 footer-content flex-wrap pe-5"
                style="width: 96%;">
                <div class="footer-info h-100 ftitles">
                    <img class="pb-3" src="./imgs/logofooter.png" alt=""> <br>
                    <a class="text-dark" href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a class="text-dark" href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a class="text-dark" href="#"><i class="fa-brands fa-youtube"></i></a>
                    <a class="text-dark" href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="footer-info h-100">
                    <div class="ftitle pb-2">Our Destinations</div>
                    <p>Tp. Ho Chi Minh</p>
                    <p>Tp. Ha Noi</p>
                    <p>Thua Thien Hue</p>
                    <p>Quang Nam</p>
                </div>
                <div class="footer-info h-100">
                    <div class="ftitle pb-2">Our Activities</div>
                    <p>Northen Lights</p>
                    <p>Cruising & sailing</p>
                    <p>Multi-actitvities</p>
                    <p>Kayaing</p>
                </div>
                <div class="footer-info h-100">
                    <div class="ftitle pb-2">Travel Blogs</div>
                    <p>Bali Travel Guide</p>
                    <p>Sri Lanks Travel Guide</p>
                    <p>Peru Travel Guid</p>
                    <p>Quang Nam Travel Guide</p>
                </div>
                <div class="footer-info h-100">
                    <div class="ftitle pb-2">About Us</div>
                    <p>Our Story</p>
                    <p>Work with us</p>
                </div>
                <div class="footer-info h-100">
                    <div class="ftitle pb-2">Contact Us</div>
                    <p>Email: DoAnWeb_DatVeMayBay@gmail.com</p>
                    <p>Work: WEB_UD_Pro</p>
                </div>
            </div>
        </div>
    </div>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
