
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- footer -->
<div>
<div class="footer">
    <div class="container p-3"></div>
    <div class="container p-3"
        style="background-color: #CDEAE1; border-radius: 20px; margin-top: -200px">
        <div class="row">
            <div class="col-9">
                <p class="fw-bolder h1 pb-5">Subscribe <br> Newsletter</p> <br>
                <p class="h5 fw-bold">The Travel</p>
                <p class="" style="color: rgba(17, 34, 17, 1);">Get inspired! Receive travel discounts, tips and
                    behind the scenes stories.</p>
                <div class="row">
                    <div class="col-9">
                        <input type="emailadd" style="height: 100%;" class="form-control border-0 bg-light"
                            id="exampleFormControlInput10" placeholder="Your email address">
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn text-light me-2 bg-dark"
                            style="height: 100%;border-radius: 5px;">
                            Subcribe
                        </button>
                    </div>
                </div>
            </div>
            <div class="col text-end">
                <img class="img-fluid" src="~/img/footer/mailbox.png" alt="Mailbox">
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-between pt-5 pb-5 footer-content flex-wrap pe-5" style="width: 96%;">
        <div class="footer-info h-100 ftitles">
            <img class="pb-3" src="~/img/footer/logo-footer.png" alt="Logo" style> <br>
            <a class="text-dark" href="#"><i class="fa-brands fa-facebook"></i></a>
            <a class="text-dark" href="#"><i class="fa-brands fa-twitter"></i></a>
            <a class="text-dark" href="#"><i class="fa-brands fa-youtube"></i></a>
            <a class="text-dark" href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="footer-info h-100">
            <div class="ftitle pb-2">Our Destinations</div>
            <p>Tp. Ho Chi Minh</p>
            <p>Tp. Ha Noi</p>
            <p>Thua Thien Hue</p>
            <p>Quang Nam</p>
        </div>
        <div class="footer-info h-100">
            <div class="ftitle pb-2">Our Activities</div>
            <p>Northen Lights</p>
            <p>Cruising and sailing</p>
            <p>Multi-actitvities</p>
            <p>Kayaing</p>
        </div>
        <div class="footer-info h-100">
            <div class="ftitle pb-2">Travel Blogs</div>
            <p>Bali Travel Guide</p>
            <p>Sri Lanks Travel Guide</p>
            <p>Peru Travel Guid</p>
            <p>Quang Nam Travel Guide</p>
        </div>
        <div class="footer-info h-100">
            <div class="ftitle pb-2">About Us</div>
            <p>Our Story</p>
            <p>Work with us</p>
        </div>
        <div class="footer-info h-100">
            <div class="ftitle pb-2">Contact Us</div>
            <p>Email: DatVeMayBay@gmail.com</p>
            <p>Work: DatVeMayBayOnline.com.vn</p>
        </div>
    </div>
</div>
</div>

