
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<nav class="navbar navbar-expand-lg bg-white fixed-top">
    <div class="container text-center fix-navbar">
        <div class="col-lg-4 navbar d-none d-lg-inline-block d-xl-inline-block pb-0">
            <div class="d-flex">
                <a class="nav-link active icon text-black me-5" aria-current="page" href="#search-info"> <i class="fa fa-plane" aria-hidden="true"></i> Chuyến bay</a>
                <a class="nav-link text-black" href="/search-booking" target="blank"><i class="fa-solid fa-magnifying-glass"></i> Tra cứu</a>
            </div>

        </div>

        <div class="col-lg-2 col-md-4 d-flex justify-content-center text-center align-content-center">
            <a class="navbar-brand m-auto fs-4 fw-bold p-0" href="/"><img src="~/img/logo-navbar.png"
                    alt="Logo"></a>
        </div>

        <div class="col-lg-4 col-md-8 justify-content-end d-flex ">
            <!-- <button class="navbar-toggler d-lg-none mb-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                                        <span class="navbar-toggler-icon"></span>
                                    </button> -->
            <a class="login nav-link ps-2 me-3 fs-6 ps-4 pe-4 text-dark" style="padding: 8px;border-radius: 6px;"
                aria-current="page" href="/login">Login</a>
            <a class="nav-link active ps-2 text-bg-dark bg-dark text-white fs-6 ps-4 pe-4" style="padding: 8px;border-radius: 6px;"
                href="/register">Sign up</a>
        </div>
    </div>
</nav>