<section class="body-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 text-black">

                <div class="px-5 ms-xl-4 p-3">
                    <img src="imgs/Logo.png" alt="Logo">
                </div>

                <div class="h-custom-2 px-5 ms-xl-4 pt-xl-0 mt-xl-n5" style="margin-top: 48px;">

                    <form asp-action="ChangePasswordUserAccount" asp-controller="Account" method="POST">

                        <h2 class="mb-3"
                            style="letter-spacing: 1px; font-size: 40px; font-weight: 700; line-height: 51px;">
                            Change your password
                        </h2>
                        @if (ViewData["status"] != null)
                        {
                            <div class="alert alert-@ViewData["status"] alert-dismissible">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            @if (ViewData["status"] == "success")
                            {
                                        <strong>Success!</strong> @Html.Raw(ViewData["message"])
                            }
                            else if (ViewData["status"] == "danger")
                            {
                                        <strong>Fail!</strong> @ViewData["message"]
                            }
                            </div>
                        }
                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">Enter Your Current Password</label>
                            <div class="input-group mb-3">
                                <input required class="form-control form-control-lg" id="crpassword" name="currentPassword"
                                    value="" style="border-right: none">
                                <span class="input-group-text" style="background-color: #fff;">
                                    <i class="fa fa-eye-slash" id="togglePassword" style="cursor: pointer"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">Enter New Password</label>
                            <div class="input-group mb-3">
                                <input required class="form-control form-control-lg" id="password" name="newPassword"
                                    value="" style="border-right: none">
                                <span class="input-group-text" style="background-color: #fff;">
                                    <i class="fa fa-eye-slash" id="togglePassword" style="cursor: pointer"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="cpassword">Re-enter Password</label>
                            <div class="input-group mb-3">
                                <input required class="form-control form-control-lg" id="cpassword" name="cPassword"
                                    value="" style="border-right: none">
                                <span class="input-group-text" style="background-color: #fff;">
                                    <i class="fa fa-eye-slash" id="togglePassword" style="cursor: pointer"></i>
                                </span>
                            </div>
                        </div>

                        <div>
                            <button class="btn-login btn btn-lg btn-block w-100" type="submit" 
                            style="background-color: #8DD3BB; margin-top: 32px;">Set password</button>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-lg-6 d-none d-sm-none d-md-none d-lg-block">
                <img src="imgs/Group 4.png" alt="Login image" style="height: 684px;">
            </div>
        </div>
    </div>
</section>
<script>
const togglePassword = document.querySelector("#togglePassword");
const password = document.querySelector("#password");
const cpassword = document.querySelector("#cpassword");
const crpassword = document.querySelector("#crpassword");
password.setAttribute("type", "password");
cpassword.setAttribute("type", "password");
crpassword.setAttribute("type", "password");

togglePassword.addEventListener("click", function() {
    // toggle the type attribute
    const type = password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);
    // toggle the eye icon
    this.classList.toggle('fa-eye');
    this.classList.toggle('fa-eye-slash');
});

togglecPassword.addEventListener("click", function() {
    // toggle the type attribute
    const type = cpassword.getAttribute("type") === "password" ? "text" : "password";
    cpassword.setAttribute("type", type);
    // toggle the eye icon
    this.classList.toggle('fa-eye');
    this.classList.toggle('fa-eye-slash');
});
</script>